.background_wrapper{
    border-width: 1px;
    border-color: rgb(157, 157, 157);
    border-style: solid;
    background-image: linear-gradient( 45deg, rgb(1,105,180) 0%, rgb(167,43,143) 100%);
    background-image: -moz-linear-gradient( 45deg, rgb(1,105,180) 0%, rgb(167,43,143) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(1,105,180) 0%, rgb(167,43,143) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(1,105,180) 0%, rgb(167,43,143) 100%);
    opacity: 0.902;
  
}
.topheader{
    padding: 11rem 0 0 0;
    display:flex;
    justify-content:space-between;
    color:white;
}
.main_logo{
    height:45px;
}

nav{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items:center;
 
}
.menu_link{
              font-size: 1.6rem;
              text-transform:uppercase;
              font-family: "Montserrat";
              padding:0.7rem 0;
    
              &:hover{
                border-bottom:2px solid white;
            }
          }
          ul.menu{
               display:flex;
               justify-content: flex-end;
               align-items:center;
               list-style-type: none;
               margin: 0;
               padding: 0;
                 li.menu_item{
                    padding: 0px 3rem;
                       
                 }  
          }
          .logo_container{
              font-size:3.4rem;
              display:flex;
              align-items:center;
              text-transform:uppercase;
              font-family: "Montserrat";
          }
          .logo_text{
              padding-left:3rem;
          }
          .banner{
              padding:14rem 0 34rem 0;
              display: grid;
              grid-template-columns: 45% 55%;
          }
          .main_heading{
            grid-column-start:1;
          }