$primary:rgb(1,105,180);
$secondary:rgb(167, 43, 143);
$primary-light:rgb(102, 102, 102);
$primary-dark:rgb(54, 53, 53);
$secondary-light: rgb(135, 135, 135);
$light:rgb(204, 204, 204);
$third:rgb(153, 153, 153);
$primary-extra-light:rgb(204, 204, 204);

  