.background_wrapper {
  border-width: 1px;
  border-color: #9d9d9d;
  border-style: solid;
  background-image: linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
  background-image: -ms-linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
  opacity: 0.902;
  z-index: 100;
}

.topheader {
  padding: 11rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.main_logo {
  height: 40px;
  width: 100%;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_link {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  padding: 0.7rem 0;
}

.menu_link:hover {
  border-bottom: 2px solid white;
}

ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li.menu_item {
  padding: 0px 3rem;
}

.logo_container {
  font-size: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.logo_text {
  padding-left: 1rem;
}

.banner {
  padding: 14rem 0 34rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
}

.main_heading {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf);
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

h1 {
  font-weight: 100;
  font-size: 4.8rem;
  font-family: "Raleway";
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 3rem;
  font-family: "Raleway";
  color: #666666;
  font-weight: 700;
}

h3 {
  font-size: 5rem;
  font-family: "Raleway";
  font-weight: 300;
  color: #0169b4;
}

h4 {
  font-size: 2.4rem;
  font-family: "Raleway";
  font-weight: 500;
  color: #363535;
}

p {
  font-size: 1.8rem;
  color: #878787;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  margin-right: 3rem;
  padding: 5rem;
  width: 100%;
  -webkit-transform: translate(0, -20rem);
          transform: translate(0, -20rem);
  -webkit-box-shadow: 0 12px 12px 0 #999999;
          box-shadow: 0 12px 12px 0 #999999;
  z-index: 1000;
}

.card:first-child {
  margin-left: 3rem;
}

.card .card-icon {
  margin-top: 1rem;
  max-height: 10rem;
}

.card .card-title {
  text-align: center;
  padding-top: 3rem;
}

.card .card-text {
  padding: 4rem 0 5rem 0;
  text-align: center;
}

button.primary {
  color: #999999;
  font-size: 1.8rem;
  font-weight: 700;
  border: 0.2rem solid #cccccc;
  padding: 1.7rem 3.8rem;
  border-radius: 3rem;
  background: transparent;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

button.primary:hover {
  background-color: #0169b4;
  color: white;
  -webkit-box-shadow: inset 0 0 0.2rem 0.2rem rgba(153, 153, 153, 0.1);
          box-shadow: inset 0 0 0.2rem 0.2rem rgba(153, 153, 153, 0.1);
  border: none;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.about-description {
  padding: 5rem 6rem 5rem 0;
}

.about-image {
  background-color: #666666;
  height: 100%;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plain {
  padding: 16rem 0;
}

.projects-header {
  padding-bottom: 7rem;
}

.solutions-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.solutions-info {
  padding: 0 13rem 7rem 0;
}

.testemonials {
  background-color: white;
}

.test-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 11rem;
}

.testemonial-author {
  margin-bottom: 7rem;
  color: #0c0c0c;
  font-size: 1.8rem;
}

.testemonial-text {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news-item {
  padding: 0 2rem;
}

.news-item:first-child {
  padding-left: 0;
}

.date {
  color: #cccccc;
  padding-right: 3rem;
  font-family: "Raleway";
  padding-top: 0;
}

.number {
  font-size: 6rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.month {
  font-size: 3rem;
  padding-top: 0;
  margin-top: 0;
}

.news-title {
  padding-top: 2rem;
}

.news-title h4 {
  font-size: 2.4rem;
  font-family: "Raleway";
  color: #333333;
  font-weight: bold;
}

.news button {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer-info {
  padding: 11rem 0 18rem 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

i.foooter-widget-icon {
  font-size: 2.8rem;
  color: white;
  padding: 3rem;
  border: 3px solid white;
  border-radius: 100%;
  margin-bottom: 2.5rem;
}

.footer-text {
  font-size: 1.4rem;
  font-family: "Montserrat";
  font-weight: 500;
}

.footer-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 19rem;
}

.social-icon {
  color: white;
  font-size: 4.1rem;
  padding: 0 6rem;
}

.totop-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.totop-circle {
  height: 200px;
  width: 240px;
  bottom: -11rem;
  background-color: white;
  border-radius: 200px 200px 0 0;
  position: absolute;
}

.totop-icon {
  font-size: 48px;
  color: #a72b8f;
  margin-bottom: 1.9rem;
  background-color: white;
  bottom: 9rem;
  left: 45%;
  position: absolute;
  z-index: 100;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background: #cccccc;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-70 {
  margin-bottom: 7rem;
}

@media (max-width: 1024px) {
  .logo_container {
    padding-left: 2rem;
  }
  .main_heading {
    padding-left: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */